.container{
    width: 80%;
    margin: 60px auto;

    display: grid;
    grid-template-columns: repeat(auto-fit,minmax(250px,1fr));
    gap: 40px;
}

.containerText {
    font-size: 2rem;
  

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    background: rgba(128, 128, 128, 0.651);
    border-radius: 10px;
}

@keyframes colorFull {

    0%,
    100% {
        color: #C102FE;
        background: white;
    }

    50% {
        color: white;
        background: black;
    }
}


.containerText h1,
.containerText p{
    background: rgba(207, 29, 29, 0.842);
    padding: 10px;
    border-radius: 10px;
    
    animation: colorFull 4s infinite;
}

