@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');

body{
    margin: 0;
    background: #ebe6ea;
    background-image: url(./assets/line.png);
    background-size: 200px;
    background-attachment: fixed;
    
    padding-top:120px ;
    font-family: 'Roboto',
        sans-serif;
}



html{
    font-size: 66.66%;
    
}

*{
    box-sizing: border-box;
}